<%#  Accordion  %>
<div class="accordion accordion-flush" id="accordionOrder">
  <%# Accordion 1  %>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading">
      <button class="accordion-button collapsed px-0" id="accordion-button-order" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= index + 1 %>" aria-expanded="false" aria-controls="flush-collapse<%= index + 1 %>">
        <div class="accordion-order" style="padding-right: 5px">
          <div class="accordion-order-info">

                <strong><%= inventory.product.name %></strong>
                  <span style="font-size: 14px; color: grey;">Inv# <%= inventory.id %></span><br>
                <%= inventory.product.supplier.name %><br>
                $<%= inventory.product.price %><br>

          </div>
          <div>
            <a class="view-btn-extra-small"><%= inventory.quantity_bal %></a>
            <div style="text-align: right; font-size: 14px; margin-top: 10px">
              <% quantity_diff = inventory.quantity_bal - inventory.par_bal  %>
              <% if quantity_diff > 0 %>
                <span style="color: blue; font-weight: bold;"> + <%= quantity_diff %> vs min</span><br/>
                <% elsif quantity_diff == 0 %>
                <span style="color: grey; font-weight: bold;">  <%= quantity_diff %> vs min</span><br/>
                <% else quantity_diff < 0  %>
                <span style="color: red; font-weight: bold;"> - <%= quantity_diff.abs() %> vs min</span><br/>
              <% end %>
            </div>
          </div>
        </div>
      </button>
    </h2>
    <div id="flush-collapse<%= index + 1 %>" class="accordion-collapse collapse" aria-labelledby="flush-heading" data-bs-parent="#accordionOrder">
      <div class="accordion-body-inventory">
        <div style="text-align: left" class="align-top">
          <tr class="table-order-row my-2">
            <% if inventory.reconciled_at? %>
                <strong>Last Update:</strong><br/>
                <%= Time.parse("#{inventory.reconciled_at}").strftime('%b-%d-%Y')%><br/>
                <%= User.find(inventory.user_id).email %>
                <%= link_to "Reorder", supplier_path(inventory.product.supplier) %>
                <% else  %>
              <% end %>
            </tr>
          </div>

        <div class="border-bottom d-flex justify-content-between" style="padding-inline: 16px; margin-top: 20px; font-weight:bold;">
          <div style="text-align: right; font-size: 16px;">
            <%= simple_form_for inventory do |f| %>
                <tr class="table-order-row my-2">

                <td><%= f.input :quantity_bal, :label => false, :id => "quantity_bal", multiple: true %> </td>
                <%# <% inventory.user_id = curent_user %>
                <button type="button" class="btn btn-primary"> <td> <%= f.button :submit, "Update Quantity!" %></td></button>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
<%# end of last accordion %>
