<div class="container">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Suppliers', suppliers_path %>
    <%= link_to 'Templates', templates_path %>
    <%= link_to 'Past Orders', orders_path %>
  </div>

</div>

<%#  search bar %>

<div class="search">
  <%= form_with url: results_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search by supplier, delivery date etc..",
      aria: { label: "Recipient's username", describedby: "button-addon2" } %>
    <%= button_tag type: 'submit', class: "button my-button", id: "button-addon2" do %>
        <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
    <% end %>
  <% end %>
</div>

<%#  %>

<div class="menu-and-back">
  <i class="back-btn fa fa-arrow-circle-left" style="font-size:28px" onclick="history.back()"></i>
  <span class="menu-btn" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "220px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
