<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-8" >
      <h1>New Order from Template: <%= @template.name %></h1>

      <div data-controller="order-form">
        <%= simple_form_for [@supplier, @order] do |f| %>
          <%= f.association :supplier, collection: Supplier.all, selected: @order.supplier.id, class: "form-select" %>
          <%# TODO can't choose another supplier bug %>
          <%= f.input :delivery_date, as: :string, input_html: {type: :date} %>
          <%= f.association :delivery_address, label_method: :address, class: "form-select" %>

            <%# <div class="container edit-products-list p-0"> %>
            <template data-order-form-target="template">
              <%= f.simple_fields_for :order_details, OrderDetail.new, child_index: 'TEMPLATE_RECORD' do |f| %>
                <%= render partial: 'order_details', locals: { f: f, products: @supplier.products } %>
              <% end %>
            </template>

            <%= f.simple_fields_for :order_details do |f| %>
                <%= render partial: 'template_details', locals: { f: f, products: @supplier.products } %>
            <% end %>
            <div>

              <div data-order-form-target="add_detail" align="center">
                <%= link_to '#', data: { action: "click->order-form#add_association"}, :style=>'text-decoration: none;' do %>
              <div class="push-btn">Add more + </div>
              <% end %>
            </div>
<br>
            <%# </div> %>

          <%= f.input :comments %>
           <div class="row">
            <p>Grand Total</p>
            <p id="grandtotal" >0</p>
          </div>
          <div class="submit-container">
            <!-- Button trigger modal -->
            <button type="button" class="push-btn order-submit" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Save as Template
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add a name for this template</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%= f.input :name %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="push-btn order-submit" data-bs-dismiss="modal">Close</button>
                    <%= button_to "Save", templates_path, class: "push-btn order-submit" %>
                  </div>
                </div>
              </div>
            </div>
            <%= f.button :submit, "Submit", :class => "push-btn order-submit"%>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
