<% supplier_id = order.supplier_id %>
<% order_id = order.id %>


<%#  Accordion  %>
<div class="accordion accordion-flush" id="accordionOrder">
  <%# Accordion 1  %>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading">
      <button class="accordion-button collapsed" id="accordion-button-order" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= index + 1 %>" aria-expanded="false" aria-controls="flush-collapse<%= index + 1 %>">
        <div class="accordion-order">
          <div class="accordion-order-info">
            <strong><%= Supplier.find(supplier_id).name %></strong><br>
              Arriving on <%= order.delivery_date %>
          </div>
          <a class="accordion-order-btn"><%= order.status %></a>
        </div>
      </button>
    </h2>
    <div id="flush-collapse<%= index + 1 %>" class="accordion-collapse collapse" aria-labelledby="flush-heading" data-bs-parent="#accordionOrder">
      <div class="accordion-body">
        <div style="text-align: left">
          <% OrderDetail.where(order_id: order_id).each do |order_detail|%>
            <% product_id = order_detail.product_id %>
            <%= Product.find(product_id).name %><br>
          <% end %>
        </div>
          <% if request.path.include?("templates") %>
            <% path = single_template_path(order) %>
          <% elsif params[:supplier_id] %>
            <% path = supplier_order_path(supplier_id, order) %>
          <% else %>
            <% path = order_path(order) %>
          <% end%>
          <%= link_to "View Order", path, class: "btn btn-ghost" %>
      </div>
    </div>
  </div>
<%# Accordion 2 %>
<%# Accordion 3 %>
<%# end of last accordion %>
