<%#  Accordion  %>
<div class="accordion accordion-flush" id="accordionOrder">
  <%# Accordion 1  %>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading">
      <button class="accordion-button collapsed px-0" id="accordion-button-order" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= index + 1 %>" aria-expanded="false" aria-controls="flush-collapse<%= index + 1 %>">
        <div class="accordion-order" style="padding-right: 5px">
          <div class="accordion-order-info">
            <strong><%= order.supplier.name %></strong><br>
              <%= Time.parse("#{order.delivery_date}").strftime('%b-%d-%Y') %>
          </div>
          <a class="view-btn"><%= order.status %></a>
        </div>
      </button>
    </h2>
    <div id="flush-collapse<%= index + 1 %>" class="accordion-collapse collapse" aria-labelledby="flush-heading" data-bs-parent="#accordionOrder">
      <div class="accordion-body-template">
        <div style="text-align: left">
          <% order_id = order.id %>
          <% OrderDetail.where(order_id: order_id).each do |order_detail|%>
            <%= order_detail.product.name %><br>
          <% end %>
        </div>
        <div>
          <%= link_to order_path(id: order), :style=>'text-decoration:none;' do %>
            <i class="fa-solid fa-file fa-2xl"></i>&nbsp;&nbsp;
          <% end %>
        </div>
      </div>
    </div>
  </div>
<%# end of last accordion %>
