<div class="my-4 mx-1">

  <%# for suppliers/:id/orders %>
  <% if @supplier %>
      <div class="col-l2 d-flex justify-content-center px-2">
        <h1><strong>My Orders with <%= @supplier.name %></strong></h1> <br>
      </div><br>
    <%# order status dropdown  %>
    <%= render "order_status_dropdown_supplier"%>
    <%# individual order accordion  %>
      <div class="row justify-content-center my-4">
        <div class="col-12">
          <% @orders.each_with_index do |order, index| %>
              <%= render "order_accordion", order: order, index: index %>
            <% end %>
        </div>
      </div>
        <%# End of Accordion %>
      <%# </div> %>
  <%# to enable dropdown bootstrap %>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

  <%# for /orders without supplier id%>
  <%else%>
    <div class="col-12 d-flex justify-content-center">
      <h1><strong> My Orders </strong></h1> <br>
    </div>
    <%# order status dropdown  %>
    <%= render "order_status_dropdown"%>
    <%# individual order accordion  %>
    <div class="row justify-content-center my-4">
      <div class="col-12">
        <% @orders.each_with_index do |order, index| %>
          <%= render "order_accordion", order: order, index: index %>
        <% end %>
      </div>
      <%# </div> %>
    <%# </div> %>
    </div>
  <%# to enable dropdown bootstrap %>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <%end%>

</div>
