<div class="row">
  <div class="col-12 my-4">
    <h1><strong> Your Past Order </strong></h1> <br>
      <span><strong>Created by </strong> <%= User.find(@order.user_id).email %></span></br>
      <span><strong>Created on </strong> <%= @order.created_at %></span>
  </div>
</div>

<%# Order ID, supplier name, delivery date %>
<div class="row">
    <div class="col-12">
      <div>
        <a class="accordion-order-btn"><%= @order.status %></a>
      </div>
      <div class="line-order my-4">
        <span><strong>Order <%=@order.id%> - <%= Supplier.find(@order.supplier_id).name %></strong></span><br/>
        <span>Arriving on <%=@order.delivery_date%></span><br/>
      </div>
      <div class="my-4">
        <%= DeliveryAddress.find(@order.delivery_address_id).address %> <br/>
      </div>
    </div>

  <%# Order item table %>
  <div class="row">
    <div class="col-12 py-2">
      <table class="table-order">
        <thead>
          <tr class="table-order-row">
            <th style="text-align: left;">Item</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <% supplier_id = @order.supplier_id %>
          <% order_id = @order.id %>
          <% total = 0 %>
          <% OrderDetail.where(order_id: order_id).each do |order_detail|%>
            <% product_id = order_detail.product_id %>
              <tr class="table-order-row my-2">
                <td style="text-align: left;"><%= Product.find(product_id).name %></td>
                <td><%= Product.find(product_id).price %></td>
                <td><%= order_detail.quantity %></td>
                  <% price = Product.find(product_id).price %>
                  <% quantity = order_detail.quantity %>
                <td><%= price * quantity %></td>
                <% total = total + price * quantity%>
              </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr class="table-order-row">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td style="text-align: right"><strong>Total</strong></td>
            <td><%= total %></td>
          <tr>
        </tfoot>
      </table>
    </div>
  </div>

<%# Note to supplier  %>
  <div class="row mt-4">
    <div class="col-lg-6">
      <strong>Note to supplier</strong><br/>
      <%= @order.comments %><br/><br/>
    </div>
  </div>
</div>
