<%#  Accordion  %>
<div class="accordion accordion-flush" id="accordionOrder">
  <%# Accordion 1  %>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading">
      <button class="accordion-button collapsed px-0" id="accordion-button-order" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= index + 1 %>" aria-expanded="false" aria-controls="flush-collapse<%= index + 1 %>">
        <div class="accordion-order" style="padding-right: 5px">
          <div class="accordion-order-info">
            <strong><%= template.name %></strong><br>
          </div>
        </div>
      </button>
    </h2>
    <div id="flush-collapse<%= index + 1 %>" class="accordion-collapse collapse" aria-labelledby="flush-heading" data-bs-parent="#accordionOrder">
      <div class="accordion-body">
        <div style="text-align: left">
          <% template.order_details.each do |order_detail|%>
            <%= order_detail.product.name %><br>
          <% end %>
        </div>
          <%= link_to "Use this Template", new_order_path( template: template ) %>
          <%= link_to "Edit Template", edit_template_path(template) %>
      </div>
    </div>
  </div>
<%# Accordion 2 %>
<%# Accordion 3 %>
<%# end of last accordion %>
