<div class="container my-4">
  <div class="row justify-content-center">

  </div>


<%if params[:supplier_id].present?%>
  <%if params[:status] == "template"%>
  <%else%>

    <div class="col-lg-8 d-flex justify-content-center">
      <h1><strong> My Orders with <%= Supplier.find(params[:supplier_id]).name %></strong></h1> <br>
    </div>
    <br>

    <div class="wrapper d-flex justify-content-center">
        <div><%= link_to "All Orders", supplier_orders_path(params[:supplier_id]), class: "push-btn" %></div>
        <div><%= link_to "Pending Orders", supplier_orders_path(params[:supplier_id], status: "pending"), class: "push-btn" %></div>
        <div><%= link_to "Sent Orders", supplier_orders_path(params[:supplier_id], status: "sent"), class: "push-btn" %></div>
        <div><%= link_to "Delivered Orders", supplier_orders_path(params[:supplier_id], status: "delivered"), class: "push-btn" %></div>
    </div>

      <div class="row justify-content-center my-4">
        <div class="col-lg-8">
          <% @orders.each_with_index do |order, index| %>
              <%= render "order_template_details", order: order, index: index %>
            <% end %>
          </div>
        <%# End of Accordion %>
        </div>
      </div>

    </div>
  <%end%>
<%else%>
    <div class="col-lg-8 d-flex justify-content-center">
      <h1><strong> My Orders </strong></h1> <br>
    </div>
    <br>

  <div class="wrapper d-flex justify-content-center">
  <div><%= link_to "All Orders", "/orders", class: "push-btn" %></div>
  <div><%= link_to "Pending Orders", "/orders?status=pending", class: "push-btn" %></div>
  <div><%= link_to "Sent Orders", "/orders?status=sent", class: "push-btn" %></div>
  <div><%= link_to "Delivered Orders", "/orders?status=delivered", class: "push-btn" %></div>
</div>

  <div class="row justify-content-center my-4">
    <div class="col-lg-8">
      <% @orders.each_with_index do |order, index| %>
        <%= render "order_template_details", order: order, index: index %>
       <% end %>
     </div>
    <%# End of Accordion %>
    </div>
  </div>

 <%# or param status is  passed with template %>


</div>

<%end%>
