
<div class="container col-11 my-4 px-0">
  <%= render "order_show" %>

  <%# Bottom button(s) %>

  <%# For order yet to be delivered  %>
  <% if @order.status != "delivered" %>
    <div class="row d-flex justify-content-center">
      <div class="col-6">
      <!-- Button trigger modal -->
        <button type="button" class="push-btn-small" data-bs-toggle="modal" data-bs-target="#markdeliveredModal">
        Mark as Delivered
        </button>
      </div>
      <div class="col-6">
        <%= link_to "Contact Supplier", supplier_path(@order.supplier_id), class: "push-btn-small" %>
      </div>
    </div>

  <%# For delievered order  %>
  <% else %>
    <div class="row d-flex justify-content-center">
      <div class="col-6">

        <%= link_to "Contact Supplier", supplier_path(@order.supplier_id), class: "push-btn-small" %>
      </div>
    </div>
  <% end %>
<%# container div below %>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="markdeliveredModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="markDeliveredModalLabel"> <strong><%= "Upload printed invoice from supplier" unless @order.photo.attached? %></strong></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "order_photo_show_edit" %>
      </div>
      <div class="modal-footer">
        <%= render "order_mark_delivered" unless @order.status == "delivered" %>
        <button type="button" class="btn-login btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
