  <div class="col p-0">
    <div class="card banner pt-5">
      <div class="card-body">
        <h1 class="card-title display-3">more time on the food <br> <small class="text-muted">less time on the phone</small> </h1>
        <p class="card-text">Make your orders over-easy. Manage day-to-day operations with Srimble: suppliers, orders, products and stock all in one place.</p>
        <%= link_to "Get Started", new_user_registration_path, class: "btn-signup btn btn-primary" unless user_signed_in? %>
      </div>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_pfwovzsz.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;" hover loop  autoplay></lottie-player>
    </div>
  </div>
  <div class="row" style="margin-left: 1px;">
    <h1 class="feature-header display-3">an intuitive tool to empower your team</h1>
    <div class="col-sm-12 col-md-6">
      <div class="card feature-card suppliers">
        <div class="row">
          <div class="col">
            <img src="https://img.icons8.com/clouds/100/null/shop.png" class="card-img-top"/>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <h2 class="card-title">Suppliers</h2>
            <p class="card-text">Keep all your suppliers organised; all their products and your orders with them all stored safely with us so you won't have to. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card feature-card orders">
        <div class="row">
          <div class="col">
            <img src="https://img.icons8.com/clouds/100/null/invoice.png" class="card-img-top"/>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <h2 class="card-title">Orders</h2>
            <p class="card-text">Get an order out in seconds with our templates tools, without ever needing to triple-check for typos, or calculating minimum order quantities. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card feature-card inventory">
        <div class="row">
          <div class="col">
            <img src="https://img.icons8.com/clouds/100/null/grocery-shelf.png" class="card-img-top"/>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <h2 class="card-title">Inventory</h2>
            <p class="card-text">Stock-taking simplified: Srimble populates your inventory when it comes, and alerts you when an item is too low, so you'll never 86 a crowd favorite. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card feature-card square">
        <div class="row">
          <div class="col">
            <img src="https://img.icons8.com/clouds/100/null/handshake.png" class="card-img-top"/>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <h2 class="card-title">API Intergration</h2>
            <p class="card-text">Srimble allows for Square Point-Of-Sales (POS) intergration so that inventory gets updated anytime u want, and complete control of your sales and purchases in different locations.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row footer" style="margin-left: 1px;">
    <div class="col">
      <%= image_tag "srimble_logo.png", class: "logo" %>
      <%= link_to "About", "#" %>
      <%= link_to "Product", "#" %>
      <%= link_to "Team", "#" %>
      <%= link_to " Contact Us", "#" %>
      <ul>
        <li><i class="fa-brands fa-twitter"></i></li>
        <li><i class="fa-brands fa-instagram"></i></li>
        <li><i class="fa-brands fa-github"></i></li>
      </ul>
    </div>
  </div>
