<div class="container">
  <div class="row">
    <% if user_signed_in? %>
    <h1><strong>Hello, what would you like to do today?</strong></h1>
      <div class="col-sm-6 col-md-6">
        <div class="orders">
          <h2>Orders</h2>
          <div class="list-group">
              <% current_user.orders.where(delivery_date: Date.today..DateTime::Infinity.new).order(:delivery_date).first(5).each do |order| %>
                <div class="notif-card mb-2">
                <%#= link_to order_path(order), class: "notif-card mb-2" do %>
                  <small>Arriving <%= order.delivery_date == Date.today ? "today" : order.delivery_date %></small>
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-truncate"><%= "Order ##{order.id} -" %><%= order.supplier.name %></h5>
                    <span class="material-symbols-outlined">arrow_forward_ios</span>
                  </div>

                  <div class="btn-tray">
                    <%# Order details %>
                    <div class="order-btn">
                      <%= link_to order do %>
                        <i class="fa-solid fa-file"></i>
                      <% end %>
                    </div>

                    <%# delivered button %>
                    <div class="col-12">
                      <%= simple_form_for(order) do |f| %>
                        <%= f.hidden_field :status, :value => "delivered" %>
                        <%= f.submit '✅', class: "fa-solid fa-square-check", data: {turbo_confirm: "All items were delivered for this order?"} do %>
                          <i class=""></i>
                        <% end %>
                      <% end %>
                    </div>

                  </div>
                <%# end %>
                </div>
              <% end %>
          </div>
        </div> <br>
        <div class="templates">
          <h2>Templates</h2>
          <% current_user.templates.first(3).each do |template| %>
          <%# <div class="notif-card mb-2"> %>
            <%= link_to new_order_path( template: template ), class: "notif-card2 mb-2 templates" do %>
            <small>Created on: <%= Time.parse("#{template.created_at}").strftime('%b-%d-%Y')%><br/></small>
            <h5><%= template.name %> - Supplier: <%= template.supplier.name %></h5>
            <% end %>
          <%# </div> %>
          <% end %>
        </div>
      </div>

  </div>
    <% else %>
     <%= render "landing_page" %>
    <% end %>
</div>
<br>
<br>
