<div class="container">
  <div class="row">
    <% if user_signed_in? %>
    <h2>Hello Christina,</h2>
    <h3 style="margin-bottom: 30px;">what would you like to do today?</h3>
    <div class="row mb-4" style="text-align:center; font-size:12px;">
      <div class="col">
        <%= link_to new_supplier_order_path(Supplier.find(1)) do %>
        <%= image_tag "https://img.icons8.com/ios/50/null/create-order--v1.png", class: "quick-link-btn" %>
        <% end %>
        <br><small>New Order</small>
      </div>
      <div class="col">
        <%= link_to suppliers_path do %>
        <%= image_tag "https://img.icons8.com/ios/50/null/supplier.png", class: "quick-link-btn" %>
        <% end %>
      <br><small>Suppliers</small>
      </div>
      <div class="col">
        <%= link_to orders_path(status: "pending") do %>
        <%= image_tag "https://img.icons8.com/ios/50/null/data-pending.png", class: "quick-link-btn" %>
        <% end %>
        <br><small>Pending Orders</small>
      </div>
      <div class="col">
        <%= link_to sync_inventories_path do %>
        <%= image_tag "https://img.icons8.com/ios/50/null/cloud-sync--v1.png", class: "quick-link-btn" %>
        <% end %>
        <br><small>Sync from POS</small>
      </div>
    </div>

        <div class="tab">
          <button class="tablinks" onclick="openList(event, 'Orders')" id="defaultOpen">Orders</button>
          <button class="tablinks" onclick="openList(event, 'Templates')">Templates</button>
          <button class="tablinks" onclick="openList(event, 'Low')">Running Low</button>
        </div>
      <div class="col-sm-6 col-md-6 content">
        <!-- Tab links -->

        <!-- Tab content -->
        <div id="Orders" class="tabcontent" style="border: none">
          <%= render "orders_list" %>
        </div>

        <div id="Templates" class="tabcontent">
          <%= render "templates_list" %>
        </div>

        <div id="Low" class="tabcontent">
          <%= render "products_list" %>
        </div>
<script>
  function openList(evt, listName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(listName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  document.getElementById("defaultOpen").click();
</script>

  </div>
    <% else %>
     <%= render "landing_page" %>
    <% end %>
</div>
<br>
<br>
