<div class="container">
  <h1>Search Results:</h1>
  <% if @results.count > 0 %>
    <% @results.each do |result| %>
      <% if result.searchable_type == "Order" %>
          <p><%= link_to "Order ID:#{result.searchable.id}", result.searchable %></p>
      <% elsif result.searchable_type == "Supplier" %>
        <p><%= link_to "#{result.searchable.name}", result.searchable %></p>
      <% elsif result.searchable_type == "Template" %>
        <p><%= link_to "#{result.searchable.name}", result.searchable %></p>
      <%# <% elsif result.searchable_type == "Product" %> %>
        <%# <p><% link_to "#{Supplier.where(products: "#{result.searchable}").name}", Supplier.where(products: "#{result.searchable}")%></p> %>
      <% else %>
        <p><%= link_to "#{result.searchable.id}", result.searchable %></p>
      <% end %>
    <% end %>
  <% else %>
    <p>No results</p>
  <% end %>
</div>
<%# test %>


<%# <% @results.each do |result| %>
    <%# <p>Supplier: <%= link_to "#{result.searchable.name}", result.searchable_path if result.searchable == "Supplier" %>
    <%# <p>Product: <%= result.searchable.name %>
    <%# <% link_to "#{Supplier.where(products: "#{result.searchable}").name}", Supplier.where(products: "#{result.searchable}") %>
    <%# </p><br> %>
     <%# Price: $<%= result.searchable.price %>
    <%# <% end %>
