<div class="container col-11 my-2">
  <span style="font-weight:bold; color: grey;">Supplier</span><br>
  <h1><%= @supplier.name %></h1>
  <br>
  <div class="supplier_details">
    <li><strong>Address</strong><br><%= @supplier.address %></li>
    <li><strong>Contact</strong><br><%= @supplier.email %> </li>
    <li><strong>Orders</strong><br>You have <%= @orders_of_supplier %> orders with <%= @supplier.name %>
  </div>
<br>
<br>
   <div class="row d-flex justify-content-center">
      <div class="col-6">
        <%= link_to "Create an Order", supplier_templates_path(@supplier.id), class: "push-btn-small" %>
      </div>
      <div class="col-6">
        <%= link_to "View Past Orders", supplier_orders_path(@supplier.id), class: "push-btn-small" %>
      </div>
  </div>
</div>
