<div class="container">
  <h1><%= @supplier.name %></h1>
  <br>
  <div class="supplier_details">
    <li><h3>Address:</h3><%= @supplier.address %></li>
    <br>
    <li><h3>Contact:</h3><%= @supplier.email %> </li>
    <br>
    <li><h3>Orders:</h3>You have <%= @orders_of_supplier %> orders with <%= @supplier.name %>
  </div>

<br>
<br>
  <div>
    <%= link_to "View Past Orders", supplier_orders_path(@supplier.id), class: "push-btn" %>
  </div>

</div>
